form {
  max-width: 100%;
  text-align: center;
}
.searchInput {
  max-width: 100%;
  background-color: #f3e6ed;
  border: none;
  padding: 2vh 3vw;
  border-bottom: 0.1vw solid black;
  outline: none;
  font-size: 1vw;
  padding: 0.5vh 0.5vw;
}

.submitInput {
  outline: none;
  border: none;
  background-color: #f3e6ed;
  width: 3vw;
}

.submitInput:hover {
  cursor: pointer;
}

.Dictionary p {
  font-size: 0.7vw;
  color: grey;
  margin-top: 0.4vh;
  margin-left: -3vw;
}
