.examples {
  color: grey;
  font-style: italic;
  margin-top: 0vh;
  margin-left: 1vw;
}

.phonetic {
  font-style: italic;
  font-weight: normal;
}

.section {
  border: solid white 0.5px;
  margin: 0 auto;
  padding: 2vh 2vw;
  display: block;
  max-width: 50%;
  margin-top: 2vh;
  background-color: white;
  box-shadow: 0 0.1vh 0.1vw rgb(175, 175, 175);
  transition: 200ms ease-in-out;
}

.section:hover {
  cursor: pointer;
}

.definitions li {
  margin-bottom: 0vh;
  margin-top: 1vh;
  line-height: 2vh;
}
